# ide specific
.idea/
.history/
.vscode/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
/venv/
/doc_build/
/doc/
/doc_source/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
htmlcov/
.pytest_cache


# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# linters
/.mypy_cache

# notebooks
**/.ipynb_checkpoints

# docker
/docker/*

# aws
/pipeline/*
!/pipeline/commands/*
