include README.md
include feature_description.html
include AUTHORS.rst
include tox.ini
include neuron_morphology/VERSION.txt

recursive-include tests *
recursive-include bin *
recursive-include allensdk/neuron_morphology/rendering/templates *
