[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

bumpversion = "*"
tox = "*"
sphinx = "*"
cookiecutter = "*"
sphinx-gallery = "*"
"ruamel.yaml" = "*"
statsmodels = "*"
pytest = ">=2.9.2"
coverage = ">=3.7.1"
pytest-cov = ">=2.2.1"
pytest-mock = "*"
"pytest-pep8" = "*"
mock = "*"
pipenv = "*"


[packages]

matplotlib = "*"
pillow = "*"
pandas = "*"
argschema = ">=1.16.0"
numpy = ">=1.14.2"
scipy = ">1.0.0"
allensdk = "*"
six = "*"


[requires]

python_version = "3.7"
