matplotlib
pillow
pandas
numpy>=1.14.2
scipy>=1.0.0
six
argschema
glymur
shapely
imageio
pg8000 # required for running from the Allen Institute's internal database
boto3>=1.12.42
cloud-files
scikit-image>0.17
tables>=3.8
simplejson
rasterio

