matplotlib
pillow<7.1.0 # excluding this version since it seems to break imageio's png reading
pandas
numpy>=1.14.2
scipy>=1.0.0
six
allensdk
argschema==3.0.1
glymur<1.0.0 # If you want to actually use glymur, you must also have openjpeg installed. The easiest way is "conda install openjpeg"
shapely<2.0.0
imageio<3.0.0
pg8000<2.0.0 # required for running from the Allen Institute's internal database
boto3>=1.12.42
