{% extends "reconstruction_viewer_layout.html" %}
{% block reconstruction_card %}
    <div class="reconstruction_card">
        {% for item in reconstruction_card %}
            {% if item|is_thumbnail(reconstruction[item]) %}
                <img id="reconstruction_image" src="file:///{{ reconstruction[item] }}" />
            {% endif %}
        {% endfor %}
        <table>
            {% for item in reconstruction_card %}
                {% if not item|is_thumbnail(reconstruction[item]) %}
                <tr>
                    <td>{{ item }}</td>
                    {% if item.endswith('link') or reconstruction[item].startswith('http') %}
                        <td><a href="{{ reconstruction[item] }}" target="_blank">Link</a></td>
                    {% else %}
                        <td>{{ reconstruction[item] }}</td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock reconstruction_card %}
